/* Hamlet Regular */
@font-face {
    font-family: 'Hahmlet';
    src: url('/fonts/Hahmlet-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Hamlet Bold */
@font-face {
    font-family: 'Hahmlet';
    src: url('/fonts/Hahmlet-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Hamlet Medium */
@font-face {
    font-family: 'Hahmlet';
    src: url('/fonts/Hahmlet-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Hamlet Light */
@font-face {
    font-family: 'Hahmlet';
    src: url('/fonts/Hahmlet-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Hamlet Thin */
@font-face {
    font-family: 'Hahmlet';
    src: url('/fonts/Hahmlet-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Hamlet Semibold */
@font-face {
    font-family: 'Hahmlet';
    src: url('/fonts/Hahmlet-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Wix Madefor Text - Regular */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-Regular.ttf') format('truetype');
    font-weight: 400; /* normal */
    font-style: normal;
}

/* Wix Madefor Text - Medium */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Wix Madefor Text - SemiBold */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Wix Madefor Text - Bold */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-Bold.ttf') format('truetype');
    font-weight: 700; /* bold */
    font-style: normal;
}

/* Wix Madefor Text - italic */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Wix Madefor Text - ExtraBold */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Wix Madefor Text - Black */
@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/WixMadeforText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
